@charset "utf-8";
/* CSS Document */

/* First break point */
@media screen and (min-width:300px) and (max-width: 452px) {
  /* ====================== Navigation ====================== */
  body,td,th,p{
  	font-family: 'Roboto', sans-serif;
  	color: #333;
  }

  nav {
    max-width: 1000px;
    height: 80px;
    padding: 0px 0px 40px 0px;
    background-color: rgb(28, 38, 47);
    text-align:center;
  }
  nav h1 a {
    color: #02b3e4;
  	text-shadow: 2px 1px 1px black;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  #map {
    height: 300px;
    max-width: 100%;
    background-color: #ccc;
  }

  /* ====================== Restaurant Filtering ====================== */
  .filter-options {
    max-width: 1000px;
    min-height: 190px;
    border-bottom: 5px solid #02b3e4;
    border-bottom-style: ridge;
    background-color: rgb(28, 38, 47);
    align-items: center;
  }
  .filter-options h2 {
    font-family: 'Roboto', sans-serif;
  	font-weight: 300;
    font-size: 30px;
  	color: #02b3e4;
  	text-shadow: 2px 1px 1px black;
    font-weight: normal;
    line-height: 1;
    margin: 0px 20px;
  }
  .filter-options select {
    background-color: rgb(28, 38, 47);
  	box-shadow: 0px 0px 10px 5px #02b3e4;
  	border-radius: 3px;
    font-family: 'Roboto', sans-serif;
  	font-weight: 300;
    font-size: 25px;
  	color: #02b3e4;
  	text-shadow: 2px 1px 1px black;
    height: 45px;
    letter-spacing: 0;
    margin: 25px;
    padding: 0 10px;
    width: 250px;
  }

  /* ====================== Restaurant Listing ====================== */

  #restaurants-list {
    list-style: outside none none;
    margin: 0;
    padding: 5px 0px 5px;
    text-align: center;
  }

  #restaurants-list li {
    background-color: rgb(28, 38, 47);
    font-family: Arial,sans-serif;
    margin: 15px;
    min-height: 380px;
    padding: 5px 5px 5px;
    text-align: left;
    max-width: 400px;
  }

  #restaurants-list li a {
    background-color: rgb(28, 38, 47);
  	box-shadow: 0px 0px 10px 5px #02b3e4;
  	border-radius: 3px;
    display: inline-block;
    font-size: 25px;
    margin: 20px 20px 20px;
    padding: 5px 30px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  #restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    max-width: 100%;
    min-width: 100%;
  }

  #restaurants-list li h1 {
    color: #02b3e4;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-shadow: 2px 1px 1px black;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
  }
  #restaurants-list p {
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 1px 1px black;
    font-weight: 300;
    color: white;
    margin: 0;
    font-size: 20px;
    text-shadow: 2px 1px 1px black;
  }

  #footer {
    background-color: rgb(28, 38, 47);
    color: #c3c3c3;
    text-shadow: 2px 1px 1px black;
    font-size: 20px;
    letter-spacing: 1px;
  	padding: 40px 0px 40px;
    text-align: center;
    text-transform: uppercase;
    border-top: 5px solid #02b3e4;
    border-top-style: ridge;
  	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

  }

}


/* Second break point */
