@charset "utf-8";
/* CSS Document */

/* First break point */
@media screen and (min-width:300px) and (max-width: 615px) {
  /* ====================== Navigation ====================== */
  body,td,th,p{
  	font-family: 'Roboto', sans-serif;
  	/* color: #333; */
  }
  body {
  	background-image: url('../img/bricks.JPG');
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	position: relative;
  }

  ul, li {
    font-family: 'Roboto', sans-serif;
  	font-weight: 400;
    font-size: 25px;
  	color: #02b3e4;
  	text-shadow: 2px 1px 1px black;
  }

  nav {
    max-width: 1215px;
    height: 80px;
    padding: 0px 0px 40px 0px;
    background-color: rgb(28, 38, 47);
    text-align:center;
  }
  nav h1 a {
    color: #02b3e4;
  	text-shadow: 2px 1px 1px black;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  #breadcrumb {
    max-width: 100%;
    padding: 30px 10px 20px;
    margin: 0;
    border-bottom: 5px solid #02b3e4;
    border-bottom-style: ridge;
    background-color: rgb(28, 38, 47);
    align-items: center;
  }

  /* Display list items side by side */
  #breadcrumb li {
      display: inline;
  }

  /* Add a slash symbol (-) before/behind each list item */
  #breadcrumb li+li:before {
      padding: 8px;
      content: "-";
  }

  /* Add a color to all links inside the list */
  #breadcrumb li a {
      color: #0275d8;
      text-decoration: none;
  }

  /* Add a color on mouse-over */
  #breadcrumb li a:hover {
      color: #01447e;
      text-decoration: underline;
  }

  #map {
    height: 300px;
    max-width: 100%;
    background-color: #ccc;
  }

  /* ====================== Restaurant Filtering ====================== */
  .filter-options {
    max-width: 100%;
    min-height: 190px;
    border-bottom: 5px solid #02b3e4;
    border-bottom-style: ridge;
    background-color: rgb(28, 38, 47);
    align-items: center;
  }
  .filter-options h2 {
    font-family: 'Roboto', sans-serif;
  	font-weight: 300;
    font-size: 30px;
  	color: #02b3e4;
  	text-shadow: 2px 1px 1px black;
    font-weight: normal;
    line-height: 1;
    margin: 0px 20px;
  }
  .filter-options select {
    background-color: rgb(28, 38, 47);
  	box-shadow: 0px 0px 10px 5px #02b3e4;
  	border-radius: 3px;
    font-family: 'Roboto', sans-serif;
  	font-weight: 300;
    font-size: 25px;
  	color: #02b3e4;
  	text-shadow: 2px 1px 1px black;
    height: 45px;
    letter-spacing: 0;
    margin: 25px;
    padding: 0 10px;
    width: 250px;
  }

  /* ====================== Restaurant Listing ====================== */

  #restaurants-list {
    list-style: outside none none;
    margin: 0;
    padding: 5px 0px 5px;
    text-align: center;
  }

  #restaurants-list li {
    background-color: rgb(28, 38, 47);
    font-family: 'Roboto', sans-serif;
    margin: 15px;
    min-height: 380px;
    padding: 5px 5px 5px;
    text-align: left;
    max-width: 400px;
  }

  #restaurants-list li a {
    background-color: rgb(28, 38, 47);
  	box-shadow: 0px 0px 10px 5px #02b3e4;
  	border-radius: 3px;
    display: inline-block;
    font-size: 25px;
    margin: 20px 20px 20px;
    padding: 5px 30px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  #restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    max-width: 100%;
    min-width: 100%;
  }

  #restaurants-list li h1 {
    color: #02b3e4;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-shadow: 2px 1px 1px black;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
  }
  #restaurants-list p {
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 1px 1px black;
    font-weight: 300;
    color: white;
    margin: 0;
    font-size: 20px;
    text-shadow: 2px 1px 1px black;
  }

  #footer {
    background-color: rgb(28, 38, 47);
    color: #c3c3c3;
    text-shadow: 2px 1px 1px black;
    font-size: 20px;
    letter-spacing: 1px;
  	padding: 40px 0px 40px;
    text-align: center;
    text-transform: uppercase;
    border-top: 5px solid #02b3e4;
    border-top-style: ridge;
  	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

  }

  /* ====================== Restaurant Details ====================== */
  .inside header {
    width: 100%;
  }
  .inside #map-container {
    height: 300px;
    max-width: 100%;
    background-color: #ccc;
  }
  .inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
  }
  .inside #footer {
    width: 100%;
  }
  #restaurant-name {
    color: #02b3e4;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-shadow: 2px 1px 1px black;
    letter-spacing: 0;
    margin: 10px 0 20px;
    text-transform: uppercase;
    line-height: 1.1;
  }
  #restaurant-img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  	max-width: 97%;
  }
  #restaurant-address {
    color: yellow;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-shadow: 2px 1px 1px black;
    margin: 20px 0px;
  }
  #restaurant-cuisine {
    background-color: rgb(28, 38, 47);
    color: #02b3e4;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-shadow: 2px 1px 1px black;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    text-transform: uppercase;
  	width: 97%;
  }
  #restaurant-container, #reviews-container {
    padding: 10px 5px 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
  #reviews-container {
    padding: 30px 5px 10px;
  }
  #reviews-container h2 {
    background-color: rgb(28, 38, 47);
    color: #02b3e4;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-shadow: 2px 1px 1px black;
    letter-spacing: 5px;
    padding: 10px 0px 10px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
    border-bottom: 5px solid #02b3e4;
    border-bottom-style: ridge;
    width: 97%;

  }
  #reviews-list {
    margin: 0px 10px 0px 0px;
    padding: 30px 0px 0px 0;
    font-size: 25px;
    font-weight: 300;
  }
  #reviews-list li {
    display: block;
    list-style-type: none;
    margin: -20px 0 0px;
    overflow: hidden;
    padding: 5px 5px 50px;
    width: 100%;
  }
  #reviews-list li p {
    margin: 0 0 10px;
  }
  #restaurant-hours td {
    color: white;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    text-shadow: 2px 1px 1px black;
  }

}


/* Second break point */
@media screen and (min-width:616px) and (max-width: 919px){
  /* ====================== Navigation ====================== */
  body,td,th,p{
    font-family: 'Roboto', sans-serif;
    color: #333;
  }

  nav {
    max-width: 1215px;
    height: 80px;
    padding: 20px 0px 20px 0px;
    background-color: rgb(28, 38, 47);
    text-align:center;
  }
  nav h1 a {
    color: #02b3e4;
    text-shadow: 2px 1px 1px black;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  #map {
    height: 380px;
    max-width: 100%;
    background-color: #ccc;
  }

  /* ====================== Restaurant Filtering ====================== */
  .filter-options {
    max-width: 1000px;
    min-height: 150px;
    border-bottom: 5px solid #02b3e4;
    border-bottom-style: ridge;
    background-color: rgb(28, 38, 47);
    align-items: center;
  }
  .filter-options h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: #02b3e4;
    text-shadow: 2px 1px 1px black;
    font-weight: normal;
    line-height: 1;
    margin: 0px 20px;
  }
  .filter-options select {
    background-color: rgb(28, 38, 47);
    box-shadow: 0px 0px 10px 5px #02b3e4;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #02b3e4;
    text-shadow: 2px 1px 1px black;
    height: 45px;
    letter-spacing: 0;
    margin: 25px;
    padding: 0 10px;
    width: 250px;
  }

  /* ====================== Restaurant Listing ====================== */

  #restaurants-list {
    list-style: outside none none;
    margin: 0;
    padding: 5px 0px 5px;
    text-align: center;
  }

  #restaurants-list li {
    background-color: rgb(28, 38, 47);
    font-family: 'Roboto', sans-serif;
    margin: 15px;
    min-height: 380px;
    padding: 5px 5px 5px;
    text-align: left;
    max-width: 400px;
  }

  #restaurants-list li a {
    background-color: rgb(28, 38, 47);
    box-shadow: 0px 0px 10px 5px #02b3e4;
    border-radius: 3px;
    display: inline-block;
    font-size: 25px;
    margin: 20px 20px 20px;
    padding: 5px 30px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  #restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    max-width: 100%;
    min-width: 100%;
  }

  #restaurants-list li h1 {
    color: #02b3e4;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-shadow: 2px 1px 1px black;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
  }
  #restaurants-list p {
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 1px 1px black;
    font-weight: 300;
    color: white;
    margin: 0;
    font-size: 20px;
    text-shadow: 2px 1px 1px black;
  }

  #footer {
    background-color: rgb(28, 38, 47);
    color: #c3c3c3;
    text-shadow: 2px 1px 1px black;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 40px 0px 40px;
    text-align: center;
    text-transform: uppercase;
    border-top: 5px solid #02b3e4;
    border-top-style: ridge;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

  }
}

/* Third break point */
@media screen and (min-width:920px) and (max-width: 1215px){
  /* ====================== Navigation ====================== */
  body,td,th,p{
    font-family: 'Roboto', sans-serif;
    color: #333;
  }

  nav {
    max-width: 1215px;
    height: 80px;
    padding: 20px 0px 20px 0px;
    background-color: rgb(28, 38, 47);
    text-align:center;
  }
  nav h1 a {
    color: #02b3e4;
    text-shadow: 2px 1px 1px black;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  #map {
    height: 420px;
    max-width: 100%;
    background-color: #ccc;
  }

  /* ====================== Restaurant Filtering ====================== */
  .filter-options {
    max-width: 1215px;
    min-height: 150px;
    border-bottom: 5px solid #02b3e4;
    border-bottom-style: ridge;
    background-color: rgb(28, 38, 47);
    align-items: center;
  }
  .filter-options h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: #02b3e4;
    text-shadow: 2px 1px 1px black;
    font-weight: normal;
    line-height: 1;
    margin: 0px 20px;
  }
  .filter-options select {
    background-color: rgb(28, 38, 47);
    box-shadow: 0px 0px 10px 5px #02b3e4;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #02b3e4;
    text-shadow: 2px 1px 1px black;
    height: 45px;
    letter-spacing: 0;
    margin: 25px;
    padding: 0 10px;
    width: 250px;
  }

  /* ====================== Restaurant Listing ====================== */

  #restaurants-list {
    list-style: outside none none;
    margin: 0;
    padding: 5px 0px 5px;
    text-align: center;
  }

  #restaurants-list li {
    background-color: rgb(28, 38, 47);
    font-family: 'Roboto', sans-serif;
    margin: 15px;
    min-height: 380px;
    padding: 5px 5px 5px;
    text-align: left;
    max-width: 400px;
  }

  #restaurants-list li a {
    background-color: rgb(28, 38, 47);
    box-shadow: 0px 0px 10px 5px #02b3e4;
    border-radius: 3px;
    display: inline-block;
    font-size: 25px;
    margin: 20px 20px 20px;
    padding: 5px 30px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  #restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    max-width: 100%;
    min-width: 100%;
  }

  #restaurants-list li h1 {
    color: #02b3e4;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-shadow: 2px 1px 1px black;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
  }
  #restaurants-list p {
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 1px 1px black;
    font-weight: 300;
    color: white;
    margin: 0;
    font-size: 20px;
    text-shadow: 2px 1px 1px black;
  }

  #footer {
    background-color: rgb(28, 38, 47);
    color: #c3c3c3;
    text-shadow: 2px 1px 1px black;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 40px 0px 40px;
    text-align: center;
    text-transform: uppercase;
    border-top: 5px solid #02b3e4;
    border-top-style: ridge;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

  }
}

/* Third break point */
@media screen and (min-width:1216px) {
  /* ====================== Navigation ====================== */
  body,td,th,p{
    font-family: 'Roboto', sans-serif;
    color: #333;
  }

  nav {
    max-width: 1215px;
    height: 80px;
    padding: 20px 0px 20px 0px;
    background-color: rgb(28, 38, 47);
    text-align:center;
  }
  nav h1 a {
    color: #02b3e4;
    text-shadow: 2px 1px 1px black;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  	display: block;
  	max-width: 1215px;
  }

  #map {
    height: 450px;
    max-width: 1215px;
    background-color: #ccc;
  }

  /* ====================== Restaurant Filtering ====================== */
  .filter-options {
    max-width: 1215px;
    min-height: 150px;
    border-bottom: 5px solid #02b3e4;
    border-bottom-style: ridge;
    background-color: rgb(28, 38, 47);
    align-items: center;
  }
  .filter-options h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: #02b3e4;
    text-shadow: 2px 1px 1px black;
    font-weight: normal;
    line-height: 1;
    margin: 0px 20px;
  }
  .filter-options select {
    background-color: rgb(28, 38, 47);
    box-shadow: 0px 0px 10px 5px #02b3e4;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #02b3e4;
    text-shadow: 2px 1px 1px black;
    height: 45px;
    letter-spacing: 0;
    margin: 25px;
    padding: 0 10px;
    width: 250px;
  }

  /* ====================== Restaurant Listing ====================== */

  #restaurants-list {
    list-style: outside none none;
    margin: 0;
    padding: 5px 0px 5px;
    text-align: center;
  }

  #restaurants-list li {
    background-color: rgb(28, 38, 47);
    font-family: 'Roboto', sans-serif;
    margin: 15px;
    min-height: 380px;
    padding: 5px 5px 5px;
    text-align: left;
    max-width: 360px;
  }

  #restaurants-list li a {
    background-color: rgb(28, 38, 47);
    box-shadow: 0px 0px 10px 5px #02b3e4;
    border-radius: 3px;
    display: inline-block;
    font-size: 15px;
    margin: 20px 20px 20px;
    padding: 5px 30px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  #restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    max-width: 100%;
    min-width: 100%;
  }

  #restaurants-list li h1 {
    color: #02b3e4;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-shadow: 2px 1px 1px black;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
  }
  #restaurants-list p {
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 1px 1px black;
    font-weight: 300;
    color: white;
    margin: 0;
    font-size: 15px;
    text-shadow: 2px 1px 1px black;
  }

  #footer {
    background-color: rgb(28, 38, 47);
    color: #c3c3c3;
    text-shadow: 2px 1px 1px black;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 40px 0px 40px;
    text-align: center;
    text-transform: uppercase;
    border-top: 5px solid #02b3e4;
    border-top-style: ridge;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

  }
}
